{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>TUBED2LONG</h1>
        <p>Use the following variables recorded within the first <b>24</b> hours of mechanical ventilation
            can be used to predict patients that <b>will require ongoing mechanical ventilation at 72 hours</b>.
            The model was developed using the data from MIMIC-IV and validated on the multi-centre eICU database.</p>
    </div>
    <div class="row">
        <div class="col">
            <h2>Respiratory Rate</h2>
            <form method="post">
                <div id="rr"></div>
                Min: <input type="number" step="0.01" id="rr-min" name="min1"/> 
                Max: <input type="number" step="0.01" id="rr-max" name="max1"/>
                <br/>
                <input class="button" type="submit"/>
            </form>
        </div>
        <div class="col">
            <h2>Temperature</h2>
            <form method="post">
                <div id="temp"></div>
                Min: <input type="number" step="0.01" id="temp-min" name="min2"/> 
                Max: <input type="number" step="0.01" id="temp-max" name="max2"/>
                <br/>
            </form>
        </div>
    </div>
    <p>{{display}}</p>
</div>

<!-- nouislider -->
<script src="{{ url_for('static', filename='js/noUiSlider.js') }}"></script>
<script src="{{ url_for('static', filename='js/sliders/rr.js') }}"></script>
<script src="{{ url_for('static', filename='js/sliders/temp.js') }}"></script>
{% endblock %}